* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

:root {
    --special-color: #3F2AFF;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    position: relative;
    padding: 0 165px;
    margin: 0 auto;
}

.section {
    margin: 79px 0;
}

.section__heading {
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    color: #2E2B44;
    max-width: 380px;
    margin-bottom: 16px;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* HEADER */

.header {
    background: var(--special-color);
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
}

.header-container {
    position: relative;
    max-width: 1111px;
    width: 100%;
    height: 80px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
}

.header__logo {
    width: 94px;
    height: 21px;
}

.header-menu__button {
    display: none;
    width: 20px;
    height: 17px;
    border: none;
    background: url(../img/header-menu-icon.svg) center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.border-menu__button:hover {
    outline: 2px solid #fff;
    outline-offset: 2px;
}

.header-nav {
    margin-left: auto;
    transition: 0.3s all ease-in-out;
}

.menu-swiched {
    left: -15px !important;
}

.header-nav-list {
    list-style: none;
    display: flex;
}

.header-nav__item {
    margin-right: 57px;
}

.header-nav__item:last-child {
    margin: 0;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    white-space: nowrap;
}

.header-nav__link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: 0.1s width ease-in-out;
}

.header-nav__link:hover::before {
    width: 100%;
}

/* SELECT */

.select-container {
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.section-select {
    background: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%, 
    #555681 0%,
    #212133 100%);
    margin-bottom: 70px;
}

.select__img {
    width: 97%;
    height: 96%;
    margin: 15px 0;
    object-fit: contain;
}

.select-content {
    margin: auto 0;
    max-width: 459px;
    max-height: 500px;
}

.select__heading {
    font-size: 60px;
    line-height: 100%;
    font-weight: 700;
    color: #fff;
    margin-bottom: 28px;
}

.select__text {
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 86px;
}

.select__btn {
    padding: 24px 76px;
    background: var(--special-color);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 117%;
    text-decoration: none;
    color: #fff;
    transition: 0.2s filter ease-in-out;
}

.select__btn:hover {
    filter: drop-shadow(0 0 5px #3F2AFF);
}

/* BENEFITS */

.benefits-content {
    display: flex;
    margin-bottom: 25px;
}

.benefits-picture {
    margin-top: 23px;
}

.benefits__img {
    width: 160px;
    height: 142px;
}

.benefits-info {
    margin-left: 30px;
}

.benefits__text {
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    max-width: 585px;
}

.benefits-card {
    display: flex;
    align-items: center;
}

.benefits-column {
    padding-left: 14px;
    padding-right: 14px;
}

.benefits-card__img {
    width: 80px;
    height: 80px;
}

.benefits-card__text {
    margin-left: 30px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    color: #666666;
}

/* TEACHERS */

.section-teachers {
    background: #212133;
    padding: 75px 0;
}

.teachers__heading {
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    color: #fff;
    margin-bottom: 24px;
}

.teachers__img {
    width: 100%;
    border-radius: 32px 32px 0px 0px;
    margin-bottom: 23px;
}

.teachers-card__heading {
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: #fff;
    margin-bottom: 7px;
}

.teachers-card__text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #85859B;
}

/* COURSES */

.courses-card {
    position: relative;
    background: #EDF0F9;
    border-radius: 20px;
}

.courses__img {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.courses-img__text {
    position: absolute;
    top: 13px;
    right: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 118%;
}

.courses-img__text::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: url('../img/courses-time-icon.svg') no-repeat;
    background-size: contain;
}

.courses-content {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    padding: 30px;
    margin-bottom: 30px;
    height: 300px ;
}

.courses__heading {
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: #212133;
    margin-bottom: 6px;
}

.courses__text {
    margin-bottom: 49px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #666666;
    max-width: 480px;
}

.courses__btn {
    margin-top: auto;
    justify-self: flex-end !important;
    max-width: 195px;
    font-size: 16px;
    line-height: 112.5%;
    font-weight: 700;
    color: #fff;
    background: var(--special-color);
    border-radius: 20px;
    padding: 20px 59px;
    text-decoration: none;
    transition: 0.2s filter ease-in-out;
    display: inline;
}

.courses__btn:hover {
   filter: drop-shadow(0 0 4px #3F2AFF);  
}

/* FOOTER */

.footer-icons {
    background: #2E2B44;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer-icons-container {
    max-width: 186px;
    margin: 0 auto;
}

.footer__icon {
    color: #fff;
    transition: 0.2s color ease-in-out;
}

.footer__icon:hover {
    color: var(--special-color);
    filter: drop-shadow(0 0 1px #3F2AFF);
}

.footer__icon+.footer__icon:hover {
    color: var(--special-color);
}

.copyright {
    display: flex;
    justify-content: center;
    background: #E5E5E5;
    height: 1em;
}

.copyright__text {
    font-size: 13px;
    line-height: 15px;
    color: #2E2B44;
}

.copyright__special-symbol {
    color: var(--special-color);
}

@media (min-width: 1930px) {

    .main-container {
        max-width: 1111px;
    }

}

@media (max-width: 1440px) {

    .teachers__img {
        border-radius: 27px 27px 0px 0px;
    }

}

@media (max-width: 1240px) {
    
    .main-container {
        padding: 0 39px;
    }

    .header-container {
        max-width: 690px;
    }

    .teachers__img {
        width: 100%;
        object-fit: contain;
        border-radius: 34px 34px 0px 0px;
    }

    .courses-content {
        height: 392px;
    }

}

@media (max-width: 768px) {

    .section {
        margin: 77px 0;
    }
 
    .main-container {
        padding: 0 39px;
    }

    .select-container {
        max-height: 620px;
    }

    .select-content {
        max-width: 340px;
    }

    /* .select__img {
      width: ;
      height: ;
    } */

    .select-content::after {
        width: 312px;
        height: 342px;
    }

    .select__heading {
        font-size: 50px;
        margin-bottom: 16px;
    }

    .benefits__img {
        width: 211px;
        height: 187px;
    }

    .benefits-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .benefits-card__img {
        margin-bottom: 10px;
    }

    .benefits-card__text {
        margin: 0;
    }

    .teachers__heading {
        margin-bottom: 22px;
    }

    .teachers__img {
        margin-bottom: 27px;
        border-radius: 43px 43px 0px 0px
    }

    .teachers-card:nth-child(1),
    .teachers-card:nth-child(2) {
        margin-bottom: 22px;
    }

    .teachers-card:nth-child(2),
    .teachers-card:nth-child(4) {
        padding-left: 15px;
    }

    .section-courses {
        margin: 75px 0;
    }

    .courses-content {
        height: 377px;
    }

    .courses__text {
        margin-bottom: 34px;
    }

    .courses__btn {
        max-width: 180px;
        margin-top: auto;
        padding: 20px 48px;
    }

}

@media (max-width: 576px) {

    .header {
        height: 133px ;
    }

    .header-container {
        max-width: 470px;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 103px 0 ;
    }

    .section__heading {
        max-width: 200px;
    }

    .header__logo {
        margin-bottom: 31px;
    }

    .header-nav {
        margin: 0;
    }

    .header-nav__item {
        margin-right: 56px;
    }

    .main-container {
        padding: 0 33px;
    }

    .section-select {
        padding-top: 113px;
    }

    .select-container {
        max-height: 567px;
        justify-content: normal;
    }

    .select-content {
        margin-top: 77px;
    }

    .select__img {
        display: none;
    }

    .benefits-picture {
        width: 256px;
        margin-top: -1px;
    }

    .benefits__img {
        width: 103%;
        height: 43%;
        object-fit: contain;
    }

    .benefits-info {
        margin-left: 34px;
    }

    .section-teachers {
        margin: -19px 0;
    }

    .teachers__img {
        border-radius: 20px 20px 0px 0px;
        height: 180px;
        object-fit: cover;
    }

    .section-courses__heading {
        padding-top: 18px;
        margin-bottom: 23px;
    }

    .courses-content {
        height: 473px;
    }

    .courses__text {

    }

}

@media (max-width: 320px) {

    .header {
        height: 80px ;
    }

    .main-container {
        padding: 0 15px !important;
    }

    .section {
        margin: 50px 0;
    }

    .section__heading {
        font-size: 20px;
    }

    .header-container {
        max-width: 290px;
        flex-direction: row;
        padding: 30px 0;
    }

    .header__logo {
        margin: 0;
        margin-right: auto;
    }

    .header-menu__button {
        display: block;
    }

    .header-nav {
        position: absolute;
        width: 110.5%;
        padding: 30px 0;
        left: -350px;
        top: 80px;
        background: rgba(62, 41, 255, 0.9);
        z-index: 10;
    }

    .header-nav__item {
        margin-right: auto;
    }

    .header-nav__item:last-child {
        margin-right: 5px;
    }

    .header-nav__link {
        font-size: 16px;
        line-height: 20px;
    }

    /* .header-nav-list {
        flex-direction: column;
    } */

    .section-select {
        height: 513px;
        padding-top: 80px !important;
        padding: 0 15px;
        margin-bottom: 50px;
        background: radial-gradient(
            49% 49% at 67.78% 84.57%,
            #555681 0%,
            #2E2B44 100%);
    }

    .select-container {
        padding: 0;
    }

    .select-content {
        margin: 50px 0;
    }

    .select__heading {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .select__text {
        font-size: 16px;
    }

    .select__btn {
        padding: 20px 53px;
        font-size: 16px;
    }

    .benefits__img {
        display: none;
    }

    .benefits-content {
        /* margin-left: -10px; */
    }

    .benefits-info {
        margin: 0;
    }

    .benefits-card {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .benefits-card__img {
        margin: 0;
        margin-right: 30px;
    }

    .section-teachers {
        padding: 50px 0;
    }

    .teachers__heading {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .teachers-card {
        margin-bottom: 30px;
    }

    .teachers-card:nth-child(4) {
        margin: 0;
    }

    .courses-card:nth-child(4) {
        margin: 0;
    }   

}